body {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}

embed {
    width:100%;
    height: 20vh;
}

#baner {
    width: 100%;
    height: 20vh;
}

#landing {
    width: 100%;
    height: 50vh;
}

.element {
    height: 300px;;
    width:100%;
    text-align: center;
}

.elementimg {
    width:200px;
}

#landing img {
    width: 100%;
    height: 40vh;
    filter: blur(10px);
    position: relative;
}

.color {
    background-color: #242582;
}

.color2 {
    background-color: #FC4A1A;
}

#landing h1 {
    position: relative;
    top: -30vh;
    color: white;
    text-shadow: 0 0 10px #FF0000, 0 0 10px black;
    animation: landingHeader 2s ;
}

#landingBtn {
    position: relative;
    top: -25vh;
    animation: landingBtn 2s ;
}

.img-offer {
    width: 80%;
    height: 30vh;
    border-radius: 40px;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    display: block;
    box-shadow: 2px 3px 6px rgba(0,0,0,0.16), 2px 3px 6px rgba(0,0,0,0.23);
}

.img-offer:hover {
    border-radius: 12.5px;
    transform: rotate(-5deg) ; 
    cursor: pointer;
}

.btn-offer {
    position: relative;
    top: -400%;
    display: block;
}

#oferta {
    background-image: url('../images/offer.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.strzalka {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform cubic-bezier(0.23, 1, 0.320, 1) 1s;
}

.strzalka:hover {
    transform: rotate(15deg);
}

.d0 {
    display: none;
}

.d1 {
    display: block !important;
}

.blur {
    filter: blur(2px);
}

.opis {
    color: white;
    font-size: 1.4rem;
    display: none;
    position: relative;
    top: -50%;
    z-index: 10000;
    text-align: center;
    background: rgba(0 ,0 ,0, 0.8);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
    margin-top: 20%;
}

th {
    text-align: center;
    border: 1px solid black;
    width: 50%;
}

table tr:nth-child(2n+1){
    background-color: #a8a8a8;
}

.white {
    background-color: white;
}

.container {
    background-color: blanchedalmond;
}

.container-fluid {
    width: 100%;
    height: 74vh;
    background-image: url('../images/cennik.jpg');
    background-size: cover;
    
}

.animationLeft {
    animation: fromLeft 2.5s;
}

.animationTop {
    animation: fromTop 2.5s;
}

.animationRight {
    animation: fromRight 2.5s;
}

.animationBottom {
    animation: fromBotton 2.5s;
}

#footer {
    background-color: gray;
    color: white;
}
@keyframes
landingHeader {
    from {top: -500vh;}
    to {top: -30vh;}
}

@keyframes
landingBtn {
    from {left: -50vh;}
    to {left: 0;}
}

@keyframes
fromLeft {
    from {left: -100vh;}
    to {left: 0;}
}

@keyframes
fromTop {
    from {top: -100vh;}
    to {top: 0;}
}

@keyframes 
fromRight {
    from {left: 100vh;}
    to {left: 0;}
}

@keyframes
fromBotton {
    from {top: 100vh;}
    to {top: 0;}
}

@font-face {
    font-family: 'Lato';
    src: url("../fonts/Lato-Regular.ttf");
}