<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>aHotel</title>
    <link rel="stylesheet" href="../styles/bootstrap.css"/>
    <link rel="stylesheet" href="../styles/style.css" />

</head>
<body>
    <section id="baner">
        <!-- BANER --> 
    </section>

    <!--NAVBAR-->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">aHotel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="oferta.html">Oferta</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="cennik.html">Cennik</a>
            </li>
    </nav>

    <!--TABELA Z CENNIKIEM-->
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <table class="mt-5">
                <tr>
                    <th>Pokój</th> 
                    <th>Cena za noc</th> 
                </tr>
                <tr>
                    <td>Pokój chata drwala</td>
                    <td>250zł</td>
                </tr>
                <tr>
                    <td>Pokój dom z grochu</td>
                    <td>200zł</td>
                </tr>
                <tr>
                    <td>Pokój Exclusive</td>
                    <td>250zł</td>
                </tr>
                <tr>
                    <td>Pokój Obraz</td>
                    <td>150zł</td>
                </tr>
                <tr>
                    <td>Pokój black-white</td>
                    <td>170zł</td>
                </tr>
                <tr>
                    <td>Pokój na jedną noc</td>
                    <td>100zł</td>
                </tr>
            </table>
        </div>
    </div>
    

    <!--BOOTSTRAP JS/JQUERY/POPPER-->
    <script src="../js/jquery.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/script.js"></script>
</body>
</html>