<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>aHotel</title>
    <link rel="stylesheet" href="../styles/bootstrap.css"/>
    <link rel="stylesheet" href="../styles/style.css" />

</head>
<body>
    <section id="baner">
        <!-- BANER --> 
        <object
        classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
        codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0"
        id="Movie1"
        width="468" height="60"
      >
        <param name="movie" value="Movie1.swf">
        <param name="bgcolor" value="#FFFFFF">
        <param name="quality" value="high">
        <param name="seamlesstabbing" value="false">
        <param name="allowscriptaccess" value="samedomain">
        <embed
          type="application/x-shockwave-flash"
          pluginspage="http://www.adobe.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"
          name="Movie1"
          width="468" height="60"
          src="../images/Movie1.swf"
          bgcolor="#FFFFFF"
          quality="high"
          seamlesstabbing="false"
          allowscriptaccess="samedomain"
        >
          <noembed>
          </noembed>
        </embed>
      </object>
    </section>

    <!--NAVBAR-->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">aHotel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="oferta.html">Oferta</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="cennik.html">Cennik</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="kontakt.html">Kontakt</a>
            </li>
    </nav>

    <!--TABELA Z CENNIKIEM-->
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 animationLeft">
                <table>
                    <tr>
                        <th>Pokój</th> 
                        <th>Cena za noc</th> 
                    </tr>
                    <tr class="white">
                        <td>Pokój chata drwala</td>
                        <td>250zł</td>
                    </tr>
                    <tr>
                        <td>Pokój dom z grochu</td>
                        <td>200zł</td>
                    </tr>
                    <tr class="white">
                        <td>Pokój Exclusive</td>
                        <td>250zł</td>
                    </tr>
                    <tr>
                        <td>Pokój Obraz</td>
                        <td>150zł</td>
                    </tr>
                    <tr class="white">
                        <td>Pokój black-white</td>
                        <td>170zł</td>
                    </tr>
                    <tr>
                        <td>Pokój na jedną noc</td>
                        <td>100zł</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
    <section id="footer">
      <p>Stronę wykonał Adam Mazur klasa 2GT</p>
    </section>
    <!--BOOTSTRAP JS/JQUERY/POPPER-->
    <script src="../js/jquery.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/script.js"></script>
</body>
</html>