<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>aHotel</title>
    <link rel="stylesheet" href="../styles/bootstrap.css"/>
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="shortcut icon" href="../images/crown_QtI_icon.ico" />
</head>
<body>
    <section id="baner">
        <!-- BANER --> 
        <object
        classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
        codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0"
        id="Movie1"
        width="468" height="60"
      >
        <param name="movie" value="Movie1.swf">
        <param name="bgcolor" value="#FFFFFF">
        <param name="quality" value="high">
        <param name="seamlesstabbing" value="false">
        <param name="allowscriptaccess" value="samedomain">
        <embed
          type="application/x-shockwave-flash"
          pluginspage="http://www.adobe.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"
          name="Movie1"
          width="468" height="60"
          src="../images/Movie1.swf"
          bgcolor="#FFFFFF"
          quality="high"
          seamlesstabbing="false"
          allowscriptaccess="samedomain"
        >
          <noembed>
          </noembed>
        </embed>
      </object>
    </section>

    <!--NAVBAR-->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">aHotel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="oferta.html">Oferta</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="cennik.html">Cennik</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="kontakt.html">Kontakt</a>
              </li>
    </nav>

    <!--KONTENT-->
    <div class="container mt-5">
        <iframe class="ml-5" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3577.1310860019266!2d17.898635482516145!3d50.656579943193655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471052e130ac7c95%3A0x54c3554272c259ba!2sOpolanka+Restauracja+%26+Hotel!5e0!3m2!1spl!2spl!4v1556454010543!5m2!1spl!2spl" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        <strong>tel. +48 534234758,
            mail: kontakt@ahotel.pl
        </strong>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-6 mt-5 mb-5 d-flex justify-content-center animationBottom">
        <a href="mailto:kontakt@ahotel.pl" class="btn btn-primary">Napisz wiadomość już teraz!</a>
      </div>
    </div>

    <section id="footer">
        <p>Stronę wykonał Adam Mazur klasa 2GT</p>
    </section>
    <!--BOOTSTRAP JS/JQUERY/POPPER-->
    <script src="../js/jquery.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/script.js"></script>
</body>
</html>